* {
    padding: 0;
    margin: 0;
    font-family: 'Jaldi', sans-serif;
}

$black: #090809;
$white: #FCFCFC;
$red: #BF211E;

body {
    background-color: $white;
}

#mobileMenu {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: $red;
    display: none;
    flex-direction: column;
    text-align: center;
    a{
        margin-top: 25px;
        font-size: 1.2em;
        color: $white;
    }
    .menuHeader{
        width: calc(100% - 20px);
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        .logo {
            font-size: 1.7em;
            font-weight: bold;
            color: $black;
        }
    }
}

header {
    height: 100vh;
    width: 100%;

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 50px);
        padding: 0 25px;
        height: 50px;

        .logo {
            font-size: 1.7em;
            font-weight: bold;
            color: $black;
        }

        .links {
            display: flex;

            a {
                font-size: 1.5em;
                font-weight: bold;
                text-decoration: none;
                padding: 0 25px;
                color: $black;
            }
        }

        .mobile {
            display: none;
        }
    }

    .contentContainer {
        display: flex;
        height: calc(100% - 50px);
        width: 100%;

        .flagContainer {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            align-items: center;

            .circle {
                width: 200px;
                height: 200px;
                border-radius: 100px;
                background-color: $red;
                position: absolute;
                top: 50%;
                margin-top: -100px;
                left: 50%;
                margin-left: -100px;
                z-index: -1;
            }

            h1 {
                font-size: 2.5em;
                text-align: center;
            }

            h2 {
                text-align: center;
            }
        }

        .imgContainer {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;

            img {
                width: 100%;
            }
        }
    }

}

main {
    #food {
        width: 100%;
        display: flex;
        height: 250px;

        .foodItem {
            width: calc(100% / 3);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:first-child {
                background-color: $red;
            }

            &:nth-child(2) {
                background-color: $black;
            }

            &:nth-child(3) {
                background-color: $red;
            }

            img {
                max-width: calc(100% - 50px);
                max-height: calc(100% - 50px);
            }

            h2 {
                height: 50px;
                width: 100%;
                text-align: center;
                color: $white;
                text-shadow: 0px 0px 12px $black;
                position: absolute;
                top: 50%;
                margin-top: -25px;
                left: 0;
            }
        }
    }

    #chef {
        height: auto;
        width: 100%;
        display: flex;

        img {
            width: 50%;
            height: auto;
        }

        .content {
            width: calc(50% - 50px);
            padding: 25px;
            background-color: $red;

            h2 {
                font-size: 2.5em;
                color: $white;
            }

            h3 {
                color: $black;
            }

            p {
                font-size: 1.3em;
                color: $white;
            }
        }
    }

    #location {
        height: 250px;
        width: 100%;
        display: flex;

        .footerSection {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .textContainer {
                display: flex;
                width: 80%;

                img {
                    width: 40px;
                    height: 40px;
                }

                p {
                    font-size: 1.5em;
                }
            }

            .timeTable {
                p {
                    text-align: center;
                    width: 100%;
                }
            }
        }
    }
}

footer {
    width: 100%;
    text-align: center;

    p {
        font-size: 1.3em;
        font-weight: bold;
    }
}

@media(max-width: 850px) {
    main {
        #chef {
            flex-direction: column;

            img {
                width: 100%;
            }

            .content {
                width: calc(100% - 50px);
                height: auto;
                padding: 25px;
            }
        }
    }
}

@media(max-width: 650px) {
    header .contentContainer .imgContainer {
        display: none;
    }

    header .contentContainer .flagContainer {
        width: 100%;
    }

    header {
        nav {

            .links {
                display: none;
            }

            .mobile {
                display: block;
                background-color: $red;
                height: 40px;
                width: 40px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    main {
        #food {
            flex-direction: column;
            height: 750px;

            .foodItem {
                width: 100%;
                height: 250px;
            }
        }

        #location {
            height: auto;
            flex-direction: column;

            .footerSection {
                width: 100%;
                margin: 15px 0;
            }
        }
    }
}