@import "./base.css";

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: normal;
}

a{
  text-decoration: none;
  color: #3498db;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: #2980b9;
  }
}

button{
  cursor: pointer;
}